//sass --watch resources/sass/style.scss:public/css/style.css
a{text-decoration:none;}
a:link{
//設定還沒有瀏覽過的連結
color:#000;
}
a:visited {
//設定已經瀏覽過的連結
color:#312741;
}
a:hover {
//設定滑鼠移經的連結
text-decoration: none;
background-color:#fafafa;
color:gray;
}
a:active {
//設定正在點選的連結
text-decoration: none;
background-color:gray;
color:#fafafa;
}

.jumbotron {
    color: white;
    background-image: url("https://images.pexels.com/photos/3095041/pexels-photo-3095041.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}

.product_item{
    #price{
        font-size: 1.6em;
        font-weight: 1000;
        //text-align: center;
    }

    .btn{
        margin-left: 10px;
    }
}

.amount{
    width: 100px;
    margin-left:auto; 
    margin-right:auto;
}

.title{
    text-align: center;
}

.pro-card{
    position: relative;
    max-width: 18vh;
}

// .btn_add_cart{
//     position: relative;
//     bottom: 10px;
//     left:50%;
// }

.pro-title{
    max-height: 12vh;
}

.hero-title{

    font-family: Atalla, Papyrus ,Verdana;

}

