.jumbotron {
    color: white;
    background-image: url("https://images.pexels.com/photos/3095041/pexels-photo-3095041.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
}